# Dependencies
node_modules/

# Expo
.expo/
dist/
android/
ios/
secrets/

# Environment variables
.env
.env.*
!.env.example

# Build
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Editor
.vscode/
.idea/
*.swp
*.swo
